*{
    box-sizing: border-box;
}

.floor{
    position: absolute;
    width: 500%;
    height: 500%;
    top: -200%;
    left: -200%;
    background: url("../floor/Brick_01.png");
    transform: rotate3d(1, 0, 1, 50deg);
}

canvas{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}